.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.text {
  flex: 1;
  padding: 10px;
}

.todo_add, .todo_delete {
  padding: 10px 20px;
}

.todo_tasks-count, .todo-options {
  margin: 10px 0;
}

.todo_task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.todo_task_complete .todo_task-text {
  text-decoration: line-through;
}

.todo_checkbox {
  display: flex;
  align-items: center;
}

.todo_task-delete {
  cursor: pointer;
  color: red;
}
